## Sure to export
## getters
export(get_control)
export(get_samples)
export(get_test)
export(get_regions)

##calculations
export(calling_prep)
export(graph_barerror)
export(mean_sd)
export(calling_variants)

##read_data
export(create_position_set)
export(read_regions)
export(read_targets)

## think about it
export(regions_filter)
export(pos_filter)
export(pampu_caller_test_1)